*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  margin: 0;
  min-inline-size: 360px;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: Raleway, sans-serif;
  --accent-font: 'STIX Two Text', serif;
}

.page {
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, Raleway, sans-serif);
  background-color: var(--bg-color, #F3EFEC);
}

.header{
  padding-top: 10%;
}

.heading {
  color: #312A4E;
  font-family: 'STIX Two Text';
  font-weight: 600;
  line-height: 90%;
  text-align: center;
}

.content-section {
  padding: 0 5vw;
}

.header__title {
  margin-bottom: 40px;
  font-size: clamp(3.75rem, 2.5rem + 6.1728vw, 7.5rem);
}
.content__title {
  width: 100%; 
  margin-top: 7%;
  margin-bottom: 2.5%;
  font-size: 30px;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block 
.content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

a {
  color: inherit;
}

.content__blockquote {
  width: 75%;
  margin-right: auto;
  margin-bottom: 1.5em;
  margin-left: auto;
  font-weight: 400;
  font-style: italic;
  line-height: 200%;
}

.content__list li {
  position: relative;
  padding-left: 25px;
  list-style: none;
  margin-bottom: 10px;
}

.content__list li:last-child {
  margin-bottom: 0;
}

.content__list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../images/marker-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
}

.content__text-block_type_first-lettered:first-letter {
  display: inline-block;
  padding: 0 4px;
  margin-right: 1px;
  background-color: var(--accent-color);font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
}

.content__figure {
  min-width: calc(100% + (2 * 5vw));
  margin-left: -20px;
  position: relative;
}

.content__picture {
  display: block;
  width: 100%;
  margin: 7% 0;
}






