*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  margin: 0;
  min-inline-size: 360px;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

:root {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
  --main-font: Raleway, sans-serif;
  --accent-font: 'STIX Two Text', serif;
}

.page {
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, Raleway, sans-serif);
  background-color: var(--bg-color, #F3EFEC);
}

.header{
  padding-top: 10%;
}

.heading {
  color: inherit;
  font-family: 'STIX Two Text';
  font-weight: 600;
  line-height: 90%;
  text-align: center;
}

.content-section {
  padding: 0 5vw;
}

.header__title {
  margin-bottom: 40px;
  font-size: clamp(3.75rem, 2.5rem + 6.1728vw, 7.5rem);
}
.content__title {
  width: 100%; 
  margin-top: 7%;
  margin-bottom: 2.5%;
  font-size: 30px;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block 
.content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: rgba(49, 42, 78, 0.50);
}

a:has(:focus-visible) {
  outline: 1px solid currentColor;
}

.content__blockquote {
  width: 75%;
  margin-right: auto;
  margin-bottom: 1.5em;
  margin-left: auto;
  font-weight: 400;
  font-style: italic;
  line-height: 200%;
}

.content__list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 25px;
  list-style: none;
}

.content__list li:last-child {
  margin-bottom: 0;
}

.content__list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../images/marker-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
}

.content__text-block_type_first-lettered:first-letter {
  display: inline-block;
  margin-right: 1px;
  padding: 0 4px;font-family: Raleway;
  font-weight: 700;
  font-size: 30px;
  line-height: normal;
  background-color: var(--accent-color);
}

.content__figure {
  position: relative;
  min-width: calc(100% + (2 * 5vw));
  margin-left: -20px;
}

.content__picture {
  display: block;
  width: 100%;
  margin: 7% 0;
}

.content__picture-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 6.3vw;
  border-bottom: 1px solid currentColor;
  padding: 20px 0;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid currentColor;
  padding: 10px;
  margin-top: 7%;
  aspect-ratio: 4 / 3;
}

.content__card-title {
  color: inherit;
  font-family: 'STIX Two Text';
  font-weight: 600;
  font-size: 60px;
  line-height: 90%;
  text-align: center;
}

.colored-text {
  width: 213px;
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 103%;
  height: 0.5ch;
  background-color: var(--accent-color); /* Используйте значение CSS-переменной --accent-color для фона полосы */
  z-index: -1;
}

.content__card-subtitle {
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}
  
.header__theme-toggler {
  padding: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
  align-items: center;
}

.header__theme-button {
  cursor: pointer;
  font-size: inherit;
  color: currentColor;
  border: none;
  padding: 0;
}

.header__theme-button_type_dark {
  line-height: 104%;
  width: 62px;
  height: 19px;
}

.header__theme-button_type_light  {
  width: 74px;
  height: 19px;
  font-weight: 700;
  line-height: 104%;
}

.header__theme-button_is-active {
  position: relative;
}

.header__theme-button_is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 102%;
  height: 0.8ch;
  background-color: var(--accent-color);
  z-index: -1;
}

.header__theme-toggler 
.header__theme-button_type_dark:hover {
  text-decoration: underline;
  text-decoration-color: rgba(49, 42, 78, 0.50);
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
}

.header__theme-button_type_light:disabled {
  pointer-events: none;
}

.footer__copyright {
  color: currentColor;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10%;
  padding: 2.5%;
  text-align: center;
}

